<div class='container mt-5'>
    {{#each respuesta}}
<form action="/api/carrito/juan@gmail.com/productos" method="post">
 <input type="text" name="id" value="{{this.id}}" style="display:none ;">
 <div>
 <img class="imagen" src="{{this.foto}}" alt="{{this.nombre}}" />
    <h5>{{this.nombre}}</h5>
    <p>{{this.descripcion}}</p>
    <strong>${{this.precio}}</strong>
  </div>  

  <input type="submit" value="agregar producto">
</form>
 
 {{/each}}
</div>